:root {
    --main-bg-color: rgb(65, 65, 65);
    --side-bg-color: rgb(243, 243, 243);
  }

/* ページ全体のスタイル */
body,html {
    margin: 0px;
    padding: 0px;
}
body{
    background-color: var(--side-bg-color);
}

header{
    width: 100%;
    height: 100px;
    background-color: var(--main-bg-color);
    color: white;
    font-size: small;
    margin: 50px 0px;
}
#header-title{
    text-align: left;
    padding-left: 20px;
}
header h2,header h3{
    display: inline-block;
    padding: 25px 0;
    margin: 0 auto;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 120%;
}
header h2{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 200%;
}
header h3{
    text-align: center;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 160%;
    margin-left: 10px;
}
main{
    padding: 50px 0px;
    width: 80%;
    background-color: white;
}
footer{
    text-align: center;
    padding: 20px 0;
    margin: 0;
    background-color: var(--main-bg-color);
}
footer h3{
    color: rgb(255, 255, 255);
}
footer a:link{
    color: #7adcfa;
}
footer a:visited{
    color: #ad94e7;
}

/* 各要素のスタイル */
/* カード追加 */
#add-card, #random-card{
    margin: 0 auto 20px auto;
    padding: 10px;
    width: 600px;
    text-align: left;
    background-color: rgb(61, 61, 61);
    color: white;
}
#add-card p{
    margin: auto;
    text-align: left;
    font-size:x-large;
    font-weight: bold;
    margin-bottom: 10px;
}
#add-card label{
    color: white;
}
#add-card-sett{
    margin: 10px 0;
}
#add-card-sett-search{
    display: inline-block;
}
#random-card h4{
    margin: 0;
}
#random-card p{
    margin: 5px 0 5px 0;
}

#image-container img {
    width: 274px;
    height: 383px;
    margin: 10px;
}
#image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* カードを自動でフィットさせる */
    gap: 10px; /* カード間のスペース */
    max-width: 1600px; /* 最大幅を設定して横幅を制限 */
    margin: 0 auto; /* コンテナを中央に配置 */
}
header,main {
    text-align: center;
    margin: 0 auto;
}
.selected-card{
    margin: 8px 0;
    color: white;
}


.card-div {
    /* カードのdivに適用するスタイル */
    border: 1px solid #ddd;
    padding: 1px;
    margin: 1px;
    text-align: center;
    box-sizing: border-box;     /* パディングを含む幅の計算 */
    /* その他のスタイルをここに追加 */
}
/*ユーザの操作を必要としないため、カードIDの入力ボックスは非表示に変更*/
#preselected-cards-wrap{
    display: none;
}
#release-period-container{
    width: 100%;
    text-align: left;
    background-color: rgb(240, 240, 240);
    color: #4e4e4e;
}

#image-container{
    margin-top: 25px;
}

/* カード追加用 */
.remove-card-button{
    background-color: #ff5d5d;
    color: rgb(255, 255, 255);
    font-weight:solid;
}

/* デッキ画像出力_モーダルウィンドウ用 */

#modal-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1; /* モーダルコンテンツの後ろに配置 */
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  }

  .modal-content {
    background-color: #fff;
    padding: 20px;
    width: 90%;
    max-width: 1200px;
    max-height: 100vh; /* ウィンドウの高さに基づく最大高さ */
    overflow-y: auto; /* スクロールバーを有効に */
  }

  .popup-content img {
    margin: 15% auto;
    padding: 20px;
    width: 80%;
    max-width: 1200px;
  }

    .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: black;
    cursor: pointer;
  }
  .blue-button {
	text-decoration: none;
	width: 400px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	transition: 0.3s;
	border: 2px solid #27acd9;
	color: #fff;
	background: #27acd9;
}
.blue-button:hover{
	color: #27acd9;
    background: #ffffff;
}
.blue-button:active{
	color: #ffffff;
    background: #63858b;
    transition: 0.2s;
}
#add-selected-card-button{
    width: 175px;
    padding: 5px;
}
#export-deck-button{
    margin-top: 20px;
}

/* タブレット（横）用スタイル */
@media (max-width: 1655px) { /* 画面幅が1400px以下の場合 */
    #image-container img {
    width: 164.40px;
    height: 229.80px;
    margin: 10px;
}
    #image-container {
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* カードを自動でフィットさせる */
    max-width: 1000px; /* 最大幅を設定して横幅を制限 */
}
    .card-div{
    font-size: 10px;
}}

/* スマホ用スタイル */
@media (max-width: 800px) { /* 画面幅が600px以下の場合 */
#add-card,#random-card{
    width: 80%;
}
#card-select{
    width: 100%;
}
.blue-button {
    width: 80%;
}
}

/* スマホ用スタイル */
@media (max-width: 600px) { /* 画面幅が600px以下の場合 */
    #image-container {
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* カードを自動でフィットさせる */
    max-width: 400px; /* 最大幅を設定して横幅を制限 */
    
}
}

/* スマホ用スタイル */
@media (max-width: 400px) { /* 画面幅が400px以下の場合 */
    #image-container img {
    width: 137.00px;
    height: 191.50px;
    margin: 10px;
}
    #image-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr)); /* カードを自動でフィットさせる */
    max-width: 400px; /* 最大幅を設定して横幅を制限 */
}
    h2{
    font-size: 20px;
}
}

